@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.header {
    background-color: tomato;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: tomato;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.input button:hover {
    background-color: rgb(255, 143, 123);
}

.input input {
    height: 22px;
    width: 40vw;
    border-radius: 11px;
    border: 1px solid gray;
}

.tarefas_cadastradas {
    width: 70vw;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(254, 255, 185);
}

.tarefas_cadastradas ul {
    list-style-type: none;
    text-align: left;
    font-family: 'Grape Nuts', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.check_tarefa:checked ~ .texto_tafera {
    text-decoration: line-through;
}